{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Укорачиватель URL</title>
</head>
<body class="bg-light">
  <header class="header bg-primary py-3">
    <div class="container">
      <div class=" row">
        <h1 class="col-12 text-center">Укорачиватель URL</h1>
      </div>
    </div>
  </header>
  <main class="container">
    <div class="row">
      <h2 class="col-12 text-center mt-3">Специально для Avito</h2>
    </div>
    <div class="row">
      <form class="col-12 mt-3" action="{% url 'url_shortener' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary btn-block mt-4" type="submit" value="Сгенерировать">
      </form>
    </div>
    <ul class="list-group mt-3 mb-5 my-lg-4">
      {% for item in history %}
      <li class="list-group-item">
        <div class="row">
          <span class="col-12 col-lg-6">{{ item.original_url|truncatechars:45 }}</span>
          <a class="col-12 col-lg-6 mt-2 mt-lg-0 text-right" href="{{ item.get_absolute_url }}">{{ request.get_host }}{{ item.get_absolute_url }}</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </main>
  <footer class="navbar fixed-bottom bg-primary">
    <div class="container">
      <span class="d-block col-12 text-white text-center">© Ким Юрий 2020</span>
    </div>
  </footer>
</body>
</html>